# 環境ファイル
.env

# macOS 系の隠しファイル
.DS_Store

# 秘密鍵
*.pem
*.key

# Terraform 実行環境関連
**/.terraform/           # provider バイナリやキャッシュ（超大きいので必ず無視）
**/*.tfstate             # state ファイル（機微情報入り）
**/*.tfstate.*           # state のバックアップ
**/*.tfplan              # plan ファイル（使い捨て）
**/*.tfvars              # 環境ごとの秘密変数
!**/*.tfvars.example     # サンプルだけは共有